/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc */
    margin: 0;
    padding: 0;
}

header {
    background-color: transparent; /* Fond transparent */
    color: #fff;
    text-align: center;
    padding: 30px 0;
    animation: fadeIn 2s; /* Animation d'entrée */
}
/* Styles pour la barre de navigation */
.navbar {
    background-color: #343a40; /* Couleur de fond de la barre de navigation */
}

.navbar-brand {
    font-size: 24px;
}

.navbar-toggler-icon {
    background-color: #fff; /* Couleur de l'icône du bouton de navigation */
}

.nav-link {
    color: #fff; /* Couleur du texte des liens */
    font-weight: bold;
}

/* Styles pour les sections de contenu */
.container {
    background-color: #ffffff2a; /* Couleur de fond des sections de contenu */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.145); /* Ombre légère */
    margin-top: 20px; /* Marge supérieure pour séparer les sections */
}

h1, h2 {
    font-size: 28px;
    color: rgb(248,161,170); 
    text-align: center; 
    margin-bottom: 20px;
    font-weight: bold;
}
#description p {
    font-size: 16px;
    color: rgb(255, 255, 255); 
    text-align: center; 
    margin-bottom: 20px;
    font-weight: bold;
}
#description ul {
    font-size: 16px;
    color: rgb(255, 255, 255); 
    text-align: center; 
    margin-bottom: 20px;
    font-weight: bold;
}
#description h2, h3 {
    font-size: 28px;
    color: rgb(255, 255, 255); 
    text-align: center; 
    margin-bottom: 20px;
    font-weight: bold;
}
.card-title {
    font-size: 26px;
    color: rgb(0, 0, 0); 
    text-align: center; 
    margin-bottom: 20px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
.card-text {
    font-size: 16px;
    color: #666; 
    text-align: center;
    margin-top: 10px;
}
ul {
    list-style: none;
    font-size: 18px;
    color: #ffffff; /* Couleur du texte de la liste */
}

/* Styles pour la vidéo de présentation */
.embed-responsive {
    margin-top: 20px; /* Marge supérieure pour séparer la vidéo des autres sections */
}

/* Styles pour la section de contact */
#contact {
    background-color: #f0f0f0; /* Couleur de fond de la section de contact */
    padding: 30px;
    margin-top: 20px; /* Marge supérieure pour séparer la section de contact */
}

/* Styles pour le texte de contact */
#contact p {
    color: #ffffff;
    font-size: 18px;
}

/* Styles pour les liens dans la section de contact */
#contact a {
    color: #007bff; /* Couleur des liens */
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline; /* Soulignement au survol des liens */
}

/* Styles pour les Cards des membres */
.card {
    margin-bottom: 30px; /* Espace entre les Cards */
    text-align: center; /* Centre le contenu à l'intérieur de la Card */
    opacity: 0; /* Initialisation de l'opacité à 0 pour l'effet d'apparition */
    transform: translateY(20px); /* Décalage vers le bas pour l'effet d'apparition */
    transition: opacity 0.5s, transform 0.5s; /* Ajout d'une transition douce */
}
.member-image {
    max-width: 40%; /* Limite la largeur de l'image à 100% de la largeur de la Card */
    height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement pour conserver les proportions */
    display: block; /* Supprime les espaces sous l'image pour la centrer verticalement */
    margin: 0 auto; /* Centre l'image horizontalement dans la Card */
    border-radius: 80%;
}
.card:hover {
    box-shadow: 0 4px 8px rgb(255, 255, 255); /* Ombre légère au survol */
}
/* Animation pour l'effet d'apparition */
.card.show {
    opacity: 1;
    transform: translateY(0);
}
/* Ajoutez ceci dans votre fichier CSS ou dans une balise <style> dans l'en-tête de votre page */
.member-github-link {
    display: inline-block;
    margin-top: 10px; /* Ajustez la marge en conséquence */
    text-align: center;
}

.member-github-link img {
    width: 24px; /* Ajustez la taille de l'image en conséquence */
    height: 24px;
}
